*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}
body {
	  font-family: "Lato", sans-serif, "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
	  font-weight: 300;
	  width:1165px;
	  margin:auto;
}


.hr-thick{
	background-color: #BCBBBB;
    height: 4px !important;
}
.title-logo{
	padding-top:15px;
}
.title-name{
	text-align: right;
	font-weight: 100;
	font-size: 50px;
	color: #7a7371;
}
.title-title{
	text-align: right;
	font-weight: 400;
	color: #7a7371;
}
.featured{
	margin-left:0px;
	margin-bottom:15px;
	color: #7a7371;;
}
.featured-item{
	padding-bottom:10px;
	overflow:hidden;	
}
.footer{
	background-color:#dbd6d4;
	padding-top:10px;
	height: 40px;
}
